@*
    Partial View cho phần Categories hiển thị trong Sidebar
*@

<div class="sidebar-categories">
    <h3>Danh mục</h3>
    <button class="add-Category" id="btnAddCategory">
        <span>+</span> Thêm Danh Mục Công Việc
    </button>
    <div id="categories-list" class="row"></div>
</div>